/**************************************
 * 09.Portfolio Section Style
 *************************************/

.project-area {
	position: relative;
}

.project-area .project-list {
	text-align: center;
}

.project-area .project-list .nav {
	display: inline-block;
	margin: 0;
	position: relative;
}

.project-area .project-list .nav li {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 0 5px;
	padding: 8px 25px;
	color: #333;
	background-color: #fff;
	cursor: pointer;
	border-radius: 3px;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(148, 146, 245, 0.15);
	box-shadow: 0px 5px 30px 0px rgba(148, 146, 245, 0.15);
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

.project-area .project-list .nav li:hover, .project-area .project-list .nav li.filter-active {
	color: #fff;
	background-color: #f56045;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

.project-area .project-container {
	display: inline-block;
	width: 100%;
}

.project-area .project-grid-item {
	overflow: hidden;
}

.project-grid-item img {
	width: 100%;
}

.project-item {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 3px;
	margin-top: 30px;
}

.project-item .project-img-overlay {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	z-index: 2;
	-webkit-transition: all .4s;
	transition: all .4s;
	background-color: transparent;
}

.project-item .project-img-overlay:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	z-index: -1;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.95);
	-webkit-transition: all .4s;
	transition: all .4s;
}

.project-item:hover .project-img-overlay:after {
	height: 100%;
}

.project-item .project-img-overlay .project-content .info {
	position: absolute;
	left: 5%;
	bottom: 5%;
	overflow: hidden;
}
.project-item .project-img-overlay .project-content .info p {
	color: #f56045;
	font-weight: 500;
	font-size: 13px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-transition: all .4s;
	transition: all .4s;
}
.project-item .project-img-overlay .project-content .info h6 {
	margin-top: 5px;
	font-weight: 700;
	font-size: 16px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-transition: all .4s;
	transition: all .4s;
}
.project-item .project-img-overlay .project-content .icon {
	position: absolute;
	top: 5%;
	right: 5%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #f56045;
	text-align: center;
	font-size: 18px;
	color: #f56045;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
	opacity: 0;
	visibility: hidden;
}
.project-item:hover .project-img-overlay .project-content .icon {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}
.project-item:hover .project-img-overlay .project-content .info p,
.project-item:hover .project-img-overlay .project-content .info h6 {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}
.project-more-btn {
	margin-top: 30px;
}
